PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://sagep:sagep123@localhost:5432/sagep?schema=public"

JWT_ACCESS_SECRET="Senha forte aqui"
JWT_REFRESH_SECRET="Senha forte aqui"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"